.hvvdeparture {
    padding-right: 10px;
    text-align: right;
}

.hvvdelay {
    color: #FF0000;
    text-align: left;
}

.hvvline {
    padding: 0 10px;
    text-align: center;
    vertical-align: bottom;
}

.hvvdestination {
    padding-left: 10px;
    text-align: left;
}
